/*Take it from the Brad Traversy's video "Product Landing Page | Build & Deploy | HTML & CSS"*/

:root {
    --black: #000000;
    --almost-white: #F8F9FA;
    --blue-greenish: #64A19D;
  }
  
/* GOBAL ATRIBUTTES 
********************/
body {
    font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1.1rem;
  }
img {
    width: 100%;
  }
.site-header {
  background: url(../images/bg-masthead-1.jpg);
  background-size: cover;
  background-position: center center;
}

/* NAVIGATION   */

/* HOME */
.site-header .site-home {
  min-height: 87vh;
}
.site-home .section-title {
  font-size: 3rem;
  text-transform: uppercase;

  /* Adding gradient to the title */
  background: rgb(58, 58, 58);
  background: linear-gradient(0deg, rgb(32, 32, 32) 0%, rgb(104, 104, 104) 86%);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
}
.site-home .section-subtitle{
  color: var(--almost-white);
  opacity: 0.5;
  font-size: 1.8rem;
}

/* About Me  */
.site-about {
  min-height: 80vh;
  background: rgb(42,42,42);
  background: linear-gradient(0deg, rgba(42,42,42,1) 0%, rgba(0,0,0,1) 100%);

  color: var(--almost-white);
}
.section-title {
  font-size: 2.8rem;
}
.test {
  background-color: red;
}


/* Projects */
.site-projects {
  background-color: var(--almost-white);
  min-height: 120vh;
  font-size: 0.9rem;
}

.site-projects-container {
  background-color: #000000;
  color: var(--almost-white);
  margin-top: 3rem;
  margin-bottom: 9rem;
}

.site-projects p {
  color:rgba(248, 249, 250, 0.6);
}



/* Contact */

.site-contact {
  background: url(../images/bg-signupa.jpg);
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;

  letter-spacing: 0.1em;

  min-height: 90vh;
}
.site-contact h3 {
  font-size: 1rem;
}
.site-contact h2 {
  color: var(--almost-white);
}
/* .contact-text{
  max-width: 90%;
} */

.cards-container {
  min-height: 50vh;
}
.site-contact hr {
  height: 2px;
  width: 50%;
}
.contact-card {
  min-height: 35vh;
  border-radius: 5px;
  border-bottom: #17a2b8 3px solid;
  border-collapse: collapse;
}

/* Footer  */
.site-footer {
  background-color: var(--black);

  color: var(--almost-white);

  min-height: 40vh;
}

.site-footer .btn {
  border-radius: 100%;
}

