/*Take it from the Brad Traversy's video "Product Landing Page | Build & Deploy | HTML & CSS"*/

:root {
    --black: #000000;
    --almost-white: #F8F9FA;
    --blue-greenish: #64A19D;
  }
  
/* GOBAL ATRIBUTTES 
********************/
body {
    font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1.1rem;
  }
img {
    width: 100%;
  }
.site-header {
  background: url(../images/bg-masthead-1.jpg);
  background-size: cover;
  background-position: center center;
}

/* NAVIGATION   */

/* HOME */
.site-header .site-home {
  min-height: 87vh;
}
.site-home .section-title {
  font-size: 3rem;
  text-transform: uppercase;

  /* Adding gradient to the title */
  background: rgb(58, 58, 58);
  background: linear-gradient(0deg, rgb(32, 32, 32) 0%, rgb(104, 104, 104) 86%);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  -webkit-background-clip: text;
  -moz-background-clip: text;
}
.site-home .section-subtitle{
  color: var(--almost-white);
  opacity: 0.5;
  font-size: 1.8rem;
}

/* About Me  */
.site-about {
  min-height: 80vh;
  background: rgb(42,42,42);
  background: linear-gradient(0deg, rgba(42,42,42,1) 0%, rgba(0,0,0,1) 100%);

  color: var(--almost-white);
}
.section-title {
  font-size: 2.8rem;
}
.test {
  background-color: red;
}


/* Projects */
.site-projects {
  background-color: var(--almost-white);
  min-height: 120vh;
  font-size: 0.9rem;
}

.site-projects-container {
  background-color: #000000;
  color: var(--almost-white);
}

.site-projects p {
  color:rgba(248, 249, 250, 0.6);
}


/* For text inprojects to be centered for md and sm devices */
